{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="card mb-3">
    <div class="row g-2">
      <div class="col-md-6">
        <img src="{{ car.image.url }}" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title"><b class="text-light">Model :</b> {{ car.model_name }}</h5>
          <p class="card-text">
            <b class="text-light">Description :</b>{{ car.description }}
          </p>
          <p class="card-text">
            <small class="text-body-secondary"><b class="text-light">Brand :</b> {{ car.brand_name }}</small>
          </p>
          <p class="card-text">
            <small class="text-body-secondary"><b class="text-light">Quantity :</b> {{ car.quantity }}</small>
          </p>
          <p class="card-text">
            <small class="text-body-secondary"><b class="text-light">Price :</b> ${{ car.price }}</small>
          </p>
          {% if request.user.is_authenticated %}
            <p class="card-text">
              <button class="btn btn-light"><a class="text-decoration-none text-dark" href="{% url 'buy_now' car.id %}">Buy Now</a></button>
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <h5 class="p-3">Total Comments : {{ comments|length }}</h5>
  {% for comment in comments %}
    <div class="card my-3">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{ comment.body }}</p>
          <footer class="blockquote-footer">{{ comment.name }}</footer>
        </blockquote>
      </div>
    </div>
  {% endfor %}
  <div class="card m-2">
    <div class="card-body">
      <form method="post" class="d-grid w-50 mx-auto">
        <h1 class="text-center">Add Comment</h1>
        {% csrf_token %}
        {{ comment_form|crispy }}

        <button class="btn btn-light">Enter</button>
      </form>
    </div>
  </div>
{% endblock %}